.el-step__head.is-process {
  color: $primary-color !important;
  border-color: $primary-color !important;
  margin-right: 1rem; 
}
.el-step__title {
  font-weight: 500 !important;
  &.is-process {
    color: $primary-color !important;
  }
}

.el-steps {
  margin-bottom: .5rem;
}

.btn-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}