.login{
}

.login-box{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 20%;
  height: 400%;
  margin: 10rem auto;
  padding: 1rem 2rem; 
  align-items: flex-start;

  img{
    height: 11rem;
    margin: 0.5rem auto;
  }

  label{
    font-weight: bold;
  }

  .input-box{
    margin: 0.3rem 0 1rem 0;
    height: 1.8rem;
    width: 95%;
  }

  .input-checkbox{
    margin: 0.1rem 0;
  }

  .button-signin{
    margin: 1rem 0 1rem 0;
    border: none;
    width: 96%;
    height: 2.5rem;
    font-size: 1.25rem;
    background-color: $primary-color;
    color: white;
  }
  .button-signin:active{
    background-color: $primary-color-dark;
  }
}


