#_crudTable {
  .el-table{
    margin: 0 auto;
    border: 1px solid #eeeeee;
    box-shadow: $box-shadow-1;
  
    tr {
      td:first-child, th:first-child {
        .cell {
          padding-left: 1.5rem;
        }
      }
    }
  }
}

.btnn {
  align-self: flex-start;
  margin-bottom: .5rem !important;
  span {
    font-size: $font-size-sm;
  }
  a {
    color: #fff;
    text-decoration: none;
    
    &:visited {
      text-decoration: none;
      color: #fff;
    }
  }
}