#_crudTable {
  .title {
    @media screen and (max-width: 768px) {
      font-size: 1.2rem;
    }
  }
  .el-table{
    margin: 0 auto;
    border: 1px solid #eeeeee;
    box-shadow: $box-shadow-1;
  
    tr {
      td:first-child, th:first-child {
        .cell {
          padding-left: 1.5rem;
        }
      }
      td:last-child, th:last-child {
        .cell {
          padding-right: 1.5rem;
        }
      }

      td:last-child {
        .cell {
          display: flex;
          align-items: flex-start;
          button:last-child {
            margin: 0 !important;
          }
        }
      }
    }
  }
}