#_family {
  margin: 1rem 2rem .5rem;
  .family-form {
    margin-bottom: 1rem;
  }

  .el-button {
    margin-bottom: .8rem;
  }

  .control-buttons {
    padding: 0 .8rem 0;
  }
  .aid_info {
    .title-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .finance-title {
        margin: .8rem 0 .5rem;
        font-size: 1.2rem;
      }
    }
  }
  .sibling-form {
    .title {
      display: flex;
      font-size: 1.2rem;
      margin-bottom: .1rem;
      padding: 0 .8rem 0;
      .active {
        i {
          color: $primary-color;
        }
      }
    }
  }
}