#_finance {
  margin: .5rem 2rem;
  .divider {
    margin: 0;
    border-top: 0.05rem solid $font-color;
  }
  .form-group {
    padding: .8rem;
  }
  .financial_detail {
    .income {
      .income-title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
      .aid-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .aid-inputs {
        display: flex;
        margin-bottom: .2rem;
        &:last-child {
          margin-bottom: 0;
        }
        .aid-name {
          display: flex;
          align-items: center;
        }
      }
    } 
    .divider-vert::before {
      border-left: 0.05rem solid $font-color;
    }
    .expenditure {
      .expenditure-title {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
      .form-group {
        width: 100%;
      }

      // school fee
      .fee-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .fee-inputs {
        display: flex;
        margin-bottom: .2rem;
        &:last-child {
          margin-bottom: 0;
        }
        .fee-name {
          display: flex;
          align-items: center;
        }
      }
      // talent fee
      .talent-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .talent-inputs {
        display: flex;
        margin-bottom: .2rem;
        &:last-child {
          margin-bottom: 0;
        }
        .talent-name {
          display: flex;
          align-items: center;
        }
      }
    }

    .details {
      .form-group {
        cursor: pointer;
      }
    }
  }
}