#_finance {
  margin: .5rem 2rem;
  .divider {
    margin: 1.2rem .8rem;
    border-top: 0.05rem solid lighten($gray-color-dark, 25%);
    // padding: 0 .8rem;
  }
  .form-group {
    padding: .8rem;
  }
  .financial_detail {
    .income {
      .income-title {
        font-size: 1.2rem;
      }
      .aid-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .aid-inputs {
        display: flex;
        margin-bottom: .2rem;
        &:last-child {
          margin-bottom: 0;
        }
        .aid-name {
          display: flex;
          align-items: center;
        }
      }
    }
    .expenditure {
      .expenditure-title {
        font-size: 1.2rem;
      }

      .fee-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .fee-inputs {
        display: flex;
        margin-bottom: .2rem;
        &:last-child {
          margin-bottom: 0;
        }
        .fee-name {
          display: flex;
          align-items: center;
        }
      }
    }

    .details {
      padding: .4rem 0;
      .detail-title {
        font-size: 1.2rem;
      }
      .form-group {
        cursor: pointer;
        .input-group {
          .form-input {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }

    .house {
      .house-title {
        font-size: 1.2rem;
        margin-top: 1rem;
      }
      .house-detail {
        display: flex;
        flex-wrap: wrap;
        .home-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .form-selects {
          display: flex;
          justify-content: space-between;
        }

        .form-select {
          width: calc(50% - .15rem);
          margin-bottom: .2rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
        .house_state {
          margin-right: .3rem;
        }
      }
      .transport-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .transport-inputs {
        display: flex;
        margin-bottom: .5rem;
        &:last-child {
          margin-bottom: 0;
        }
        .transport-name {
          display: flex;
          align-items: center;
          .active {
            display: block; 
            height: 1.2rem;
            color: $primary-color-light;
            transition-timing-function: ease-out;
            transition-duration: 250ms;
            font-size: 1rem;
          }
        }
      }
    }
  }
}