@import url('https://fonts.googleapis.com/earlyaccess/notosanssc.css');
@import 'variables';
@import 'form';

//pages
@import 'pages/login';
@import 'pages/student';
@import 'pages/addStudent';
@import 'pages/changePassword.scss';
@import 'pages/createStudent/basic';
@import 'pages/createStudent/parent';
@import 'pages/createStudent/family';
@import 'pages/createStudent/finance';
@import 'pages/createStudent/forms';
@import 'pages/validation';

//layouts
@import 'layout/default';

//components
@import 'components/tables';
@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/forms";

body {
  margin: 0;
  padding: 0;
  background-color: #f0f4f7;
}

//Remove spinners from input[type=number]
/* For Firefox */
input[type='number'] {
  -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}