#_default {
  .header-container {
    display: flex;
    align-content: center;
    border-bottom: .8px solid #eee;
    background-color: #fff;
    box-shadow: $box-shadow-1;
    padding: .75rem 1rem;
    .nav-header {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      max-width: $normal-width;
      .title {
        display: flex;
        align-items: center;
        font-size: .8rem;
        font-weight: 500;
        margin: 0;
        color: $primary-color;
        img{
          height: 1.25rem;
          margin-right: .25rem;
        }
        @media screen and (max-width: $size-sm) {
          font-size: $font-size-sm;
          img {
            height: 1rem;
          }
        }
      }
      .dropdown {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: $primary-color;
  
        .el-dropdown-link {
          display: flex;
          align-items: center;
          .icon {
            border: .5px solid $primary-color;
            border-radius: 50%;
            padding: .1rem;
            margin-right: .4rem;
            font-size: 1rem;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  .body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: calc(100vh - 75px);
    @media screen and (max-width: 768px) {
      min-height: auto;
    }
    max-width: $normal-width;
    margin: 0 auto;
    @media screen and (max-width: $normal-width) {
      padding: 0 1.5rem;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    .sidebar {
      padding-top: 1rem;
      flex-grow: 1;
      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0;
      }
      ol {
        list-style-type: none;
        padding-inline-start: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
        li {
          margin-bottom: .8rem;
          i {
            margin-right: .2rem;
          }
          .icon-users {
            margin-right: .5rem;
          }
          a {
            text-decoration: none;
            color: $font-color;
            &:focus, &:hover, &.active {
              box-shadow: none;
              color: $primary-color;
            }
          }
        }
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      padding: 2rem 3rem;
      @media screen and (max-width: $size-lg) {
        width: 75%;
        padding-left: 3rem;
        padding-right: 3rem;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0;
      }
    }
  }
}